* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

:root {
    --background-body: #090e22;
    --background-container: #1d1e33;
    --background-calc-btn: #f44236;
    --background-clear-btn: #444;
}

.hide {
    display: none !important;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--background-body);
    color: #fff;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: var(--background-container);
    min-width: 400px;
    min-height: 400px;
    padding: 2em;
}

/* Calc-Container */
h2 {
    text-align: center;
    margin-bottom: 2em;
}

#form-inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#input {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-bottom: 1rem;
}

#input label {
    font-weight: bold;
    margin-bottom: 0.6rem;
    color: #ccc;
}

#input input {
    padding: 1rem 0.5rem;
}

#buttons-container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 2rem;
}

button {
    text-transform: uppercase;
    padding: 1rem 1.5rem;
    border: none;
    color: #fff;
    cursor: pointer;
    opacity: 0.9;
    flex: 1;
    background-color: var(--background-calc-btn);
}

#clear-btn {
    background-color: var(--background-clear-btn);
}

button:hover {
    opacity: 1;
}

/* Result-Container */
#result-container {
    text-align: center;
}

#imc-number {
    font-size: 2.4rem;
    margin-bottom: 0.6rem;
}

#info {
    font-size: 1.4rem;
    color: #ccc;
}

#result-container h3 {
    margin-top: 1rem;
    color: #dfdfdf;
}

#imc-table {
    margin: 1.5rem 0;
    font-size: 0.8rem;
}

#table-header {
    font-weight: bold;
    color: #ccc;
}

#table-header,
.table-data {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #444;
    text-align: center;
}

#back-btn {
    align-self: center;
}

#table-header h4, 
.table-data p {
    flex: 1;
}

.good {
    color: #12db34;
}

.medium {
    color: #db6212;
}

.low {
    color: #dbce12;
}

.high {
    color: #db1912;
}